ion-card {
  --background: none;
  max-width: 100vh;
  margin: auto;
}

ion-label {
  --background: none;
  color: #0a0a0a;
}

ion-item {
  --background: none;
  color: #0a0a0a;
}

ion-header {
  display: flex;
}

ion-toolbar {
  --background: none;
  color: #0a0a0a;
}

ion-title {
  cursor: pointer;
}

ion-toolbar {
  width: 100vh;
}
