.ion-item-divider {
  --padding-top: 20px;
  --padding-bottom: 10px;
  --padding-start: 30px;
  display: flex;
  gap: 16px;
  font-size: 18px;
  margin: auto;
}

.ion-item-divider > div {
  margin: auto;
}

.item-content {
  display: flex;
  align-items: center;
}

.icon-container {
  margin-left: 16px;
}
